<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <h1>{{title}}</h1> 
Welcome to Kiwi land!

<h2>{{artist}}</h2> 

{{#each art}}
<ul>
  <li>{{title}}</li>
  <li>{{name}}</li>
</ul>
{{/each}}
</body>
</html>



